/* HEADER */

@media (max-width: 1000px ){
    .hero__div{
        width: 100%;
        margin: 0;
    }
    .main__info{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .main{
        height: auto;
    }
}
@media (max-width: 1024px){
    .hero__div{
        width: 100%;
    }
    .hero__img{
        width: 100%;
        object-fit: contain;
    }
    .main__contenido{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .servicios{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
}
@media (max-width: 810px){
    .s, .p{
        display: none;
    }
}
/* FOOTER */
@media (max-width: 720px){
    .footer__contenedor{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .contenido__form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .footer__img{
        object-fit: contain;
    }
    .footer__p{
        margin-bottom: 10px;
    }
    .form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .form__input{
        width: 100%;
    }
    .label{
        font-size: 1.2rem;
    }
    .hero__nav{
        font-size: 2vw;
    }
}
@media (max-width: 1024px){
    .login__contenedor{
        width: 90%;
        margin: o auto;
    }
    .contenedor__login{
        width: 90%;
        margin: 0 auto;
    }
    .footer__div img {
        width: 4em;
    }
    .contenedor__documentos{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .documento{
        width: 90%;
        margin: 0 auto;
    }
}
@media (min-width: 720px){
    .responsives{
        display: none;
    }
}
@media (max-width: 720px ){
    .responsive{
        display: none;
    }
}