
:root{
	--verde: rgb(67, 105, 91);
	--verdeActivo: rgb(25, 148, 103);
}
/* Contenedor para el toggler y el texto */
.toggler-container {
    display: flex;
    align-items: center;
    margin-bottom: 8px; /* Espacio entre cada toggler */
}

/* Estilos para el toggler */
.toggler-wrapper {
    display: flex;
    align-items: center;
}

.toggler-checkbox{
	display: none;
}

.toggler-slider {
    width: 40px;
    height: 20px;
    background: #ccc;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    transition: background 0.3s;
}

.toggler-knob {
    width: 18px;
    height: 18px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 1px;
    transition: left 0.3s;
}

input[type="checkbox"]:checked + .toggler-slider .toggler-knob {
    left: 21px;
}

input[type="checkbox"]:checked + .toggler-slider {
    background: var(--verde);
}

.toggler-container .form-check-label {
    margin-left: 10px; /* Espacio entre el toggler y el texto */
    display: inline-block;
}

.respuestas{
    width: 90%;
    display: grid; 
    place-content: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
}
@media (max-width: 992px){
    .contenedor{
        display: none !important;
    }
    .contenedorTexto{
        text-align: center;
    }
}

.estado-atendido {
    background-color: #d4edda !important; /* Verde claro */
}

.estado-proceso {
    background-color: #fff3cd !important; /* Amarillo claro */
}

.estado-cancelado {
    background-color: #f8d7da !important; /* Rojo claro */
}