#<IfModule mod_authz_core.c>
#    Require all denied
#</IfModule>

#<IfModule !mod_authz_core.c>
#    Deny from all
#</IfModule>

# Mostrar una página personalizada en lugar del error genérico
#ErrorDocument 403 /error403.html
